.admin_panel{
    left:0;
    right: 0;
    position: fixed;
    background-color: dodgerblue;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.admin_panel_link{
    color: #fff;
}
.admin_panel_link:hover{
    color:#e8d5d5;
    text-decoration: none;
}
.main{
    display: flex;
    height: 100%;

    width: 100%;
}
.left_side{
    width: 200px;
    bottom: 0;
    position: fixed;
    top: 33px;
    background-color: dodgerblue;
    z-index: 1;
}
.content{
    width: calc(100% - 200px);
    margin-left: 200px;
    margin-top: 50px;
    padding: 15px;
}
.admin_nav{
    list-style:none;
    padding: 3px;
}
.admin_nav li a{
    display: block;
    color:#fff;
    padding: 5px 10px 5px 25px;
    transition:0.3s
}

.admin_nav li:hover a{
    color: #fff;
    background-color: #0077ea;
    text-decoration: none;
    transition:0.3s
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
td.actions a,td.actions button {
    font-size: 18px;
    border: 0;
    display: inline-block;
    padding: 0 10px;
}
.trash_icon{
    color: red;
    transition:0.5s;
}
td.actions form{
    display: inline-block;
}
td.actions a:hover,td.actions button:hover{
    transform:rotate(25deg);

    transition:0.5s
}
.trash_icon:hover{
    color: red;
    background-color: transparent;
    border: 0;
}
.post_thumb{
    width: 50px;
}
.edit_thumb{
    width: calc(100% - 60px);
}
.form-group.flex{
    display: flex;
    justify-content: space-between;
}